
#Static
static
/static
static/
staticfiles/

#Environment
env/
.env/
.env

#PYTHON
*.pyc
__pycache__/
*.py[cod]

#Media
media/


# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/


# OS files
.DS_Store
Thumbs.db

#DJANGO
db.sqlite3
*.log

#Virtual Environment
venv/
.venv/