{% extends "base.html" %}
{%load static %}
{% block title %} تماس با ما {% endblock title %}
{%block content%}


    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">تماس با ما</h1>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </p>
        </div>
    </div>


    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags}}alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
            <form class="col-md-9 m-auto" method="post" role="form">
                {% csrf_token %}
                {{ form.honeypot }}
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="{{form.first_last_name.id_for_label}}" class="form-label">نام و نام خانوادگی</label>
                        {{ form.first_last_name }}
                        {% if form.first_last_name.errors %}
                        <div class="text-danger mt-1">{{form.first_last_name.errors.0}}</div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="{{form.email.id_for_label}}" class="form-label">ایمیل</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                        <div class="text-danger mt-1">{{form.email.errors.0}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="{{form.subject.id_for_label}}" class="form-label">موضوع</label>
                    {{ form.subject}}
                    {% if form.subject.errors %}
                    <div class="text-danger mt-1">{{form.subject.errors.0}}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{form.message.id_for_label}}" class="form-label"> پیام </label>
                    {{ form.message }}
                    {% if form.message.errors %}
                    <div class="text-danger mt-1">{{form.message.errors.0}}</div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->
{%endblock content%}